@charset "UTF-8";


body{
    background-color: blanchedalmond;
    color: black;
    list-style-position:inside;
    font: normal 15px arial;
}
Div#logo{
    text-align: justify;
    background-color: blanchedalmond;
    width: auto;
    height: 70px;
}
h1.topo{
    background-color: #e44d26;
    color: white;
    font: normal 50px arial;
    border-bottom: 5px solid blanchedalmond;
    margin: auto;
    padding: 20px 0px 20px 0px;
    text-align: center;
}
Div.menu{
    display: inline-block;
    background-color: #ffffff;
    font: normal 15px arial;
    width: 169px;
    height: 30px;
    text-align: center;
    padding: 10px 0px 0px 0px;
    border-radius: 10px;
}
div.menu > a{    
    text-decoration: none;
    color: black;
}
Div.menu:hover{
    background-color: #ff9567;
}
h2{
    background-color: #e44d26;
    color: white;
    font: normal 20px arial;
    text-align: center;
    margin: 2px 0px 0px 0px;
    border-radius: 10px;
}
a{
    color: rgb(10, 12, 116);
}

.semStyle{
    background: none;
    color: black;
    text-align: justify;
}


