@charset "UTF-8";


body{
    background-image: linear-gradient(to top, #03588C, #ACE5F2);
    background-attachment: fixed;
    color: black;
    border-width: 5px 20px 5px 20px;
    border-radius: 20px;
    padding: 0px 0px 0px 0px;
    margin: 0px 20px 0px 20px;
    text-align: center;
    box-shadow: 5px 5px 100px black;
}
h1{
    background-color: rgb(78, 117, 243);
    color: white;
    font: normal 40px arial;
    border: 15px solid white;
    border-width: 5px 5px 5px 5px;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    padding: 50px 0px 50px 0px;
    text-align: center;
}
#menu{
    background-color: white;
    margin: 2px 0px 0px 0px;
    border-radius: 10px;
}
h2{
    background-color: white;
    margin: 2px 0px 0px 0px;
    border-radius: 10px;
}
#conteudo{
    background-color: white;
    margin: 2px 0px 2px 0px;
    border-radius: 10px;
    border: 15px solid white;
    text-align: justify;
}
a{
    text-decoration: none;
    color: black;
}

